<% if @user.admin? %>
  <form action="/admin/block_net" method="post" onsubmit="if (!confirm('Sure?')) return false">
    <input type="hidden" name="name" value="<%== url_escape(@net.name) %>"/>
    <input name="reason" placeholder="reason"/>
    <input type="submit" value="Block net"/>
  </form>

  <% if @canonical_net %>
    <p>
      <a href="/admin/canonical-nets?name=<%== url_escape(@canonical_net.canonical_name) %>">view canonical admin page</a>
    </p>
  <% end %>
<% end %>
